.login-form{
margin-top: -50px;
height: 90vh;
}
.image-container{
    background-image: url("../../public/MyRoomLogo.jpg");
    height:100px;
    width:200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.bimage{
    background-image: url("../../public/Loginbackground.jpg");
    /* height:645px;
    width:840px; */
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center; 
    padding: 50px,0px;
}

h1{
    background: linear-gradient(90deg, rgba(111, 27, 197, 0.88) 0%, rgba(164, 98, 233, 0.81) 30%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 32px;
    font-family: 'sb';
}

p{
 font-family: 'sl';
 margin-top: -6px;
 font-size: 16px;
}

.login-btn{
    width: 100%;
    color: white;
    background-color: #7B30C8;
    border: none;
    border-radius: 0;
    padding: 10px;
}

label{
    font-family: 'sm';
    font-weight: 100;
    font-size: 14px;
}

label span{
    color: #6936F4;
    font-size: 16px;
}

input{
    font-family: 'sm';
    font-size: 14px;
    border-radius: 0px !important;
    border: 1px solid #AAAA !important;
    padding:10px !important; 
    outline: none;
}

.forgotpw a{
    font-family: 'sm';
    font-size: 14px;
    color: black;
    text-decoration: none;
    text-align: end;
}

.l-register{
    padding-top: 15px;
    font-size: 14px;
    text-align: center;
}

span{
    font-family: 'sm';
    font-size: 14px;
    color: #7B30C8 ;
    text-decoration: none;
    text-align: end;
}